# requirements to run pack_checker.py - this should be identical to what is in pyproject.toml but with pinned versions
jsonschema==4.26.0; python_version >= '3.10'
jsonschema==4.25.1; python_version == '3.9'
jsonschema==4.23.0; python_version <= '3.8'
referencing==0.37.0; python_version >= '3.10'
referencing==0.36.2; python_version == '3.9'
referencing==0.35.1; python_version <= '3.8'
