name: Release
on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      test_pypi:
        description: Publish to test pypi (can only be done once per version)
        type: boolean

jobs:
  release:
    name: Release for ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-20.04, macos-latest]
        include:
          - os: windows-latest
            py: "3.13"
            name: "win64"
          - os: ubuntu-20.04
            py: "3.13"
            name: "ubuntu-amd64"
          - os: macos-latest
            py: "3.13"
            name: "macos"

    runs-on: ${{ matrix.os }}
    steps:
      - name: Set env (tag)
        if: startsWith(github.ref, 'refs/tags/')  # only create release on tag pushes
        shell: bash
        run: |
          RELEASE_VERSION="${GITHUB_REF#refs/*/v}"
          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV
          echo "RELEASE_NAME=${RELEASE_VERSION//./}" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install python ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Build exe
        shell: bash
        run: |
          python -m pip install -U -r requirements.txt
          python -m pip install -U pyinstaller certifi
          python -m PyInstaller -F pack_checker.py
          cp README* dist/
          mkdir rls
      - name: ZIP
        if: ${{ runner.os == 'Windows' }}
        shell: bash
        run: |
          cd dist
          7z a -mx=9 "../rls/pack-checker_${{ env.RELEASE_NAME }}_${{ matrix.name }}.zip" *
      - name: TAR GZ
        if: ${{ runner.os != 'Windows' }}
        shell: bash
        run: |
          cd dist
          tar -czvf "../rls/pack-checker_${{ env.RELEASE_NAME }}_${{ matrix.name }}.tar.gz" *
      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')  # only create release on tag pushes
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
        with:
          draft: true
          name: pack-checker v${{ env.RELEASE_VERSION }}
          files: |
            ./rls/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  publish_pypi:
    name: Publish to PyPI
    if: startsWith(github.ref, 'refs/tags/')  # only publish to PyPI on tag pushes
    needs:
      - release  # run after we successfully created the release since this can't be undone
    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/p/pack-checker

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1


  publish_testpypi:
    name: Publish to TestPyPI
    if: ${{ inputs.test_pypi }}
    needs:
      - release  # run after we successfully created the release since this can't be undone
    runs-on: ubuntu-latest

    environment:
      name: testpypi
      url: https://test.pypi.org/p/pack-checker

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
